[submodule "crfsuite"]
	path = crfsuite
	url = https://github.com/chokkan/crfsuite.git
[submodule "liblbfgs"]
	path = liblbfgs
	url = https://github.com/chokkan/liblbfgs.git
[submodule "ui"]
	path = ui
	url = https://github.com/ravenscroftj/sapienta-ui.git
