SAPIENTA_STOPWORDS_LIST=/home/james/workspace/sapienta/written.num.o5
SAPIENTA_MODEL_FILE=/home/james/workspace/sapienta/all_papers.model
SAPIENTA_NGRAMS_FILE=/home/james/workspace/sapienta/ngrams.pickle