SAPIENTA_STOPWORDS_LIST=/home/james/workspace/sapienta/written.num.o5
SAPIENTA_MODEL_FILE=/home/james/workspace/sapienta/all_papers.model
SAPIENTA_NGRAMS_FILE=/home/james/workspace/sapienta/ngrams.pickle

SAPIENTA_ENDPOINT=http://localhost:8000
SAPIENTA_WORKER_PASSWORD=topsecret
REDIS_PASSWORD=topsecret
MINIO_BUCKET=sapienta
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=topsecret123
MINIO_USE_SSL=0