{% extends "main.html" %}
{%block title%}Upload a paper{%endblock%}
{%block content%}

<form action="{{url_for('.upload_act')}}" method="POST" enctype="multipart/form-data">

    <fieldset>
        <legend>
            Upload a paper
        </legend>

        <p>Upload a paper to be annotated by SAPIENTA, You'll be able to download it in a couple of minutes</p>

        <input type="file" id="the_file" name="the_file" />
        <span class="help-block">Select a PDF or XML paper to upload.</span>

        <button type="submit" class="btn btn-primary btn-large">Upload Paper</button>
    </fieldset>

</form>

{%endblock%}
